#mainheader{
  background-color: blueviolet;
  text-align: center;
}

li{
    text-decoration: dotted;
    font-size: larger;
    text-rendering: optimizeLegibility;
}

header~main{
    background-color: yellow;
}

.hyperlinks{
    color: inherit;
}

.hyperlinks:hover{
    color:rgb(0, 255, 26);
}

#about{
     font-size: small;
     
}

#navigation{
    background-color: aquac;
}

.flex{
   display: flex;
   justify-content: center;
   align-items: center;
}

.fun-fact{
    
}









